<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="URGE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="URGE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <URGE.Properties.Settings>
            <setting name="pin" serializeAs="String">
                <value />
            </setting>
        </URGE.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <URGE.Properties.Settings>
            <setting name="key" serializeAs="String">
                <value>ecpyT7PTn3ClIbE7YbX6lg</value>
            </setting>
            <setting name="secret" serializeAs="String">
                <value>MX27PE57B1XwvoGOfnrCMHXiMixxBjIVsNFXSdN8E</value>
            </setting>
        </URGE.Properties.Settings>
    </applicationSettings>
</configuration>
